.container_photo_viewer{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    display: none;
    -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}
.userInfo{
    display: none;
    text-align: center;
    font-family: cursive;
    font-size: 2em;
    color: rgb(42, 168, 247);
    position: absolute;
    top: 50%;
    width: 79vw;
}
.alert{
    display: none;
    position: fixed;
    background-color: white;
    z-index: 1;
    color: rgb( 51, 48, 48 );
    font-family: cursive;
    padding: 20px 10px 10px 10px;
    border-radius: 3px;
    top: 3%;
    left: 2%;
}
.alert span{
    color: rgb( 247, 83, 83 );
    font-size: 1.5em;
    text-decoration: underline;
}
.close{
    text-align: right;
    color: rgb(33, 150, 243);
    padding: 3px 3px 3px 3px;
    position: absolute;
    top: 0px;
    right: 5px;
}
.close:hover{
    cursor: pointer;
}