@media(max-width: 1000px){
    .block_main{
        width: 70vw;
    }
    .block_prewie{
        width: 30vw;
    }
    .scrollUp,
    .scrollDown{
        right: 12vw;
    }
    .item_prewie{
        height: 130px;
    }
}
@media(max-width:900px){
    .block_main{
        width: 100vw;
        height: 69.5vh;
    }
    .main_photo{
        max-height: 69.5vh;
    }
    .block_prewie{
        text-align: left;
        overflow-y: hidden;
        height: 30vh;
        width: 100vw;
        top: 70vh;
    }
    .list_prewie{
        display: inline-block;
        height: 100%;
        white-space: nowrap;
    }
    .item_prewie{
        display: inline-block;
        height: 100%;
        width: 250px;
        margin: 3px;
    }
}
@media(max-width: 700px){
    .item_prewie{
        width: 220px;
    }
}
@media(max-width: 600px){
    .item_prewie{
        width: 200px;
    }
}